<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1>
    </header>


    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function(){
    var socket=io.connect('localhost:3000');
    var message = $("#message");
	var username = $("#username");
	var send_message = $("#send_message");
	var send_username = $("#send_username");
	var chatroom = $("#chatroom");
    var feedback = $("#feedback");
    send_message.click(function(){
        socket.emit('new_message',{message : message.val()});

    });

    socket.on("new_message",(data)=>{
        feedback.html('');
        message.val('');
        chatroom.append("<p class='message'>" + data.username + ": " + data.message + "</p>");
    });

    send_username.click(function(){
        socket.emit('change_username',{username : username.val()});
    });

    message.bind("keypress",()=>{
        socket.emit('typing');
    });

    socket.on('typing',(data)=>{
        feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>");
    });
})


    </script>
  </body>
</html>