<html>
    <head>
        <title>First Page</title>
    </head>
    <body>
        <form action="/signup" method="POST">
            <input type="submit" id="login"  name="login" value="Sign Up" />
        </form>
        <form action="/signin" method="POST">
            <input type="submit" id="login"  name="login" value="Sign In" />
        </form>
    </body>
</html>