<html>
    <head>
        <title>Sign In Page</title>
    </head>
    <body>
        <form action="/sign_in" method="POST">
            <input class="box" type="email" name="email" id="email" placeholder="Enter your E-Mail " required /><br><br>
                
            <input class="box" type="password" name="password" id="password"  placeholder="Enter your Password " required/><br><br>

            <input type="submit" id="submitDetails"  name="submitDetails" value="Login" />

        </form>
    </body>
</html>